<style>
  .add-button{
    border: 1px solid #4B7FCC;
    background: none;
    border-radius: 5px;
    color: #4B7FCC;
    font-weight: bold;
    margin-top: 10px;
  }

  .form > div{
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .form-buttons button{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
  }

  .add-bus{
    background-color: #4B7FCC;
  }

  .delete-bus{
    background-color: crimson;
  }

  h4{
    margin-top: 20px;
    color: grey;
  }
</style>

<h4>Bus Management</h4>
<button class="add-button" (click)="openNewBusForm()"><i class="bi bi-plus"></i> Add Bus</button>
<form [formGroup]="busForm" *ngIf="isBusFormOpen" (ngSubmit)="isEditingBus ? updateBus() : addBus($event)" class="form-group" style="margin-top: 10px">
  <div class="row form" style="margin: 0">
    <div class="input-group col-lg-2 col-md-3 col-sm-6">
      <span class="input-group-addon">Bus ID</span>
      <input class="form-control" formControlName="busId" type="text" required/>
    </div>
    <div class="input-group col-lg-2 col-md-3 col-sm-6">
      <span class="input-group-addon">Capacity</span>
      <input class="form-control" formControlName="capacity"  type="number" min="0" required/>
    </div>
    <div class="input-group col-lg-2 col-md-3 col-sm-6">
      <span class="input-group-addon">Color</span>
      <input class="form-control" formControlName="color" type="text"/>
    </div>
    <div class="input-group col-lg-2 col-md-3 col-sm-6">
      <span class="input-group-addon">Sort Order</span>
      <input class="form-control" formControlName="sortOrder" min="1" type="number"/>
    </div>
  </div>
  <ng-container *ngIf="errorMsg">
    <p style="color: #FC5923; font-weight: 500">{{errorMsg}}</p>
  </ng-container>
  <div class="form-buttons" style="display: flex; gap: 10px">
    <button type="submit" class="add-bus">Save</button>
    <button *ngIf="isEditingBus" (click)="deleteBus()" type="button" class="delete-bus">Delete Bus</button>
    <button type="button" class="add-bus" (click)="cancelBus()">Cancel</button>
  </div>
</form>
<div class="row">
  <app-bus-object (editBus)="editBus($event)" class="col-lg-4 col-md-6 col-sm-12" *ngFor="let busObject of buses" [busObject]="busObject"></app-bus-object>
</div>
