<style>
  .select{
    padding: 10px;
  }

  .btn-send{
    background: white;
    border-radius: 10px;
    color: rgba(65, 105, 224, 0.65);
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(65, 105, 224, 0.65);
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .email{
    color: #FC5923;
    border: 1px solid #FC5923;
  }

  .sms{
    color: #3eace8;
    border: 1px solid #3eace8;
  }

  .whatsapp{
    color: #57dc7a;
    border: 1px solid #57dc7a;

  }

  .loading-placeholder {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px; /* Space between loading lines */
    width: 50%;
    margin: 20px auto; /* Center the placeholder */
  }

  .loading-title,
  .loading-line {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 5px;
  }

  .loading-title {
    width: 60%; /* Adjust width for title */
    height: 20px;
  }

  .loading-line {
    width: 100%; /* Full width for content lines */
    height: 15px;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  label{
    font-size: 18px;
    font-weight: 600;
  }

  .btn-primary{
    margin-bottom: 10px;
  }
</style>

<section>
  <div class="row date">
    <div class="col-md-3 col-sm-6" style="margin-bottom: 10px; padding-right: 0">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input id="date" type="date" class="form-control" [value]="date" (change)="onDateChange($event)" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
      <button class="btn btn-primary" style="background-color: #4169E0; color: white; margin-right: 10px" (click)="getPrevDayPassengers()">Previous day</button>
      <button class="btn btn-primary" style="background-color: #4169E0; color: white" (click)="getNextDayPassengers()">Next day</button>
    </div>
  </div>
  <div *ngIf="!loadContent" class="loading-placeholder">
    <div class="loading-title"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
  </div>
  <div class="content" *ngIf="loadContent">
    <div class="row">
      <div class="col-md-12">
        <button class="btn-send email" (click)="sendEmailToAll()">{{loading ? "Sending..." : "Send Email To All"}}</button>
        <button class="btn-send sms">Send SMS To All</button>
        <button class="btn-send whatsapp">Send WhatsApp To All</button>
      </div>
    </div>
    <h3>Pickup Location List</h3>
    <app-expandable-section *ngFor="let pickup of getPickupLocations(); trackBy: trackByPickup" [EmailSentLocations] = EmailSentLocation(pickup.abbreviation) [passengers]="getPassengersByLocation(pickup.name)" [title]="pickup.abbreviation" [numOfPassengers]="pickupLocations.get(pickup.name) || 0">
      <app-email-container (updateSentEmails)="updateSentEmailLocations($event)" [emailInfo]="getEmailObject(pickup)"></app-email-container>
    </app-expandable-section>
  </div>
</section>
