<style>
  .select{
    padding: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);  /* Start at 0 degrees */
    }
    100% {
      transform: rotate(360deg);  /* Complete rotation */
    }
  }

  .btn-send{
    background: white;
    border-radius: 10px;
    color: rgba(65, 105, 224, 0.65);
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(65, 105, 224, 0.65);
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .flex{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .spinner {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);  /* Light gray border */
    border-left-color: #4B7FCC;  /* Darker left-side for the spinner effect */
    border-radius: 50%;
    animation: spin 1s linear infinite;  /* Smooth rotation */
  }

  .email{
    color: #FC5923;
    border: 1px solid #FC5923;
  }

  .sms{
    color: #3eace8;
    border: 1px solid #3eace8;
  }

  .whatsapp{
    color: #57dc7a;
    border: 1px solid #57dc7a;
  }

  .error-msg {
    background-color: #fda5a5;
    display: flex;
    /*align-items: center;*/
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
  }

  .error-text{
    color: #b63f3f;
    margin: 0;
    font-weight: 600;
  }

  .loading-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between loading lines */
    width: 100%;
  }

  .loading-title,
  .loading-line {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 5px;
  }

  .loading-title {
    width: 60%; /* Adjust width for title */
    height: 20px;
  }

  .loading-line {
    width: 100%; /* Full width for content lines */
    padding: 1.5em 3em 1.5em 3em;
    height: 70px;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  label{
    font-size: 18px;
    font-weight: 600;
  }

  .btn-primary{
    margin-bottom: 10px;
  }

  h4{
    margin-top: 20px;
    font-weight: bold;
  }
</style>

<section>
  <div class="row date">
    <div class="col-md-3 col-sm-6" style="margin-bottom: 10px; padding-right: 0">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input id="date" type="date" class="form-control" [value]="date" (change)="onDateChange($event)" />
      </div>
    </div>
    <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
      <button class="btn btn-primary" style="background-color: #4169E0; color: white; margin-right: 10px" (click)="getPrevDayPassengers()">Previous day</button>
      <button class="btn btn-primary" style="background-color: #4169E0; color: white" (click)="getNextDayPassengers()">Next day</button>
    </div>
  </div>
  <div *ngIf="errorMsg.length > 0" class="error-msg col-md-6">
    <i class="bi bi-exclamation-circle" style="color: #b63f3f"></i>
    <p class="error-text">{{errorMsg}}</p>
  </div>
  <div *ngIf="loadingContent" class="loading-placeholder">
    <div class="loading-title" style="margin-bottom: 20px"></div>
    <div class="loading-title"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
    <div class="loading-line"></div>
  </div>
  <div *ngIf="loadContent && !loadingContent">
      <div>
        <button class="btn-send" *ngIf="!loadingAll" (click)="sentAll()">Send All Messages</button>
        <button *ngIf="loadingAll" class="btn-send" [disabled]="true">Sending...</button>
        <button *ngIf="!loadingSentMails" class="btn-send email" [disabled]="areButtonsDisabled" (click)="sendEmailToAll()">Send Email To All</button>
        <button *ngIf="loadingSentMails" class="btn-send email">Sending...</button>
        <button *ngIf="!loadingSentSMS" class="btn-send sms" [disabled]="areButtonsDisabled" (click)="sendSMSToAll()">Send SMS To All</button>
        <button *ngIf="loadingSentSMS" class="btn-send sms">Sending...</button>
        <button *ngIf="!loadingSentWhatsApp" class="btn-send whatsapp" [disabled]="areButtonsDisabled" (click)="sendWhatsAppToAll()">Send WhatsApp To All</button>
        <button *ngIf="loadingSentWhatsApp" class="btn-send whatsapp">Sending...</button>
      </div>
    <h3>Pickup Location List</h3>
    <div *ngFor="let item of dataMap">
      <h4>{{item[0][0] === "0" ? item[0].slice(1) : item[0]}} Tour</h4>
      <app-expandable-section *ngFor="let pickup of item[1]; trackBy: trackByPickup" [WhatsAppSentLocations]=WhatsAppSentLocation(pickup.abbreviation) [SMSSentLocations]=SMSSentLocation(pickup.abbreviation) [EmailSentLocations] = EmailSentLocation(pickup.abbreviation) [passengers]="getPassengersByLocation(pickup.name)" [title]="pickup.abbreviation" [numOfPassengers]="pickupLocations.get(pickup.name) || 0">
        <app-email-container (updateSentMessages)="updateSentMessageLocations($event)" [pickupPlace]=pickup.name [emailInfo]="getEmailObject(pickup)"></app-email-container>
      </app-expandable-section>
    </div>
<!--    <app-expandable-section *ngFor="let pickup of getPickupLocations(); trackBy: trackByPickup" [WhatsAppSentLocations]=WhatsAppSentLocation(pickup.abbreviation) [SMSSentLocations]=SMSSentLocation(pickup.abbreviation) [EmailSentLocations] = EmailSentLocation(pickup.abbreviation) [passengers]="getPassengersByLocation(pickup.name)" [title]="pickup.abbreviation" [numOfPassengers]="pickupLocations.get(pickup.name) || 0">-->
<!--      <app-email-container (updateSentMessages)="updateSentMessageLocations($event)" [emailInfo]="getEmailObject(pickup)"></app-email-container>-->
<!--    </app-expandable-section>-->
  </div>
</section>
