<style>
  .passenger-container{
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid #4B7FCC;
    padding: 1.1em;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  @media (max-width: 600px) {
    .info-container{
      display: flex;
      flex-direction: column;
    }
  }

  p{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    word-wrap: break-word; /* Breaks long words to fit within the container */
    overflow-wrap: break-word;
  }

  .bi{
    font-size: 1.4em;
  }

  button {
    font-size: 1.2rem;
    background-color: white;
    padding: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Active button styling */
  button.active {
    padding: 50px;
  }

  .info-container{
    display: flex;
    gap: 10px;
  /*flex-direction: column;*/
  }
</style>

<div class="passenger-container" [ngStyle]="getStyles()">
  <div class="info-container">
    <div>
      <p>{{passengerInfo.firstName}} {{passengerInfo.lastName}}</p>
      <p>{{getPickupAbbrev(passengerInfo)}}</p>
    </div>
    <p style="font-weight: 400">{{passengerInfo.numOfPassengers}} {{passengerInfo.numOfPassengers === 1 ? "Passenger" : "Passengers"}}</p>
    <p style="font-weight: 400" *ngIf="passengerInfo.numOfChildren !== 0">{{passengerInfo.numOfChildren}} {{passengerInfo.numOfChildren === 1 ? "Child" : "Children"}}</p>
  </div>
  <button [ngClass]="{'active': isActive}" [ngStyle]="getButtonStyles()" (click)="toggleButton()">Exclude</button>
</div>
