<style>

  main {
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: white; /* Background color */
    border-bottom: 1px solid grey;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em 1em 2em; /* Adjust padding as needed */
    z-index: 1000; /* Ensures the navbar is above other elements */
    align-items: center;
  }

  h4 {
    margin: 0;
    font-weight: 500;
    font-size: 2em;
  }

  .styled-button {
    background: linear-gradient(135deg, #6e8efb 0%, #a777e3 100%);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none; /* Remove default outline */
  }

  .styled-button:hover {
    background: linear-gradient(135deg, #a777e3 0%, #6e8efb 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .styled-button:active {
    background: linear-gradient(135deg, #6e8efb 0%, #a777e3 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    color: white; /* Ensure text color stays white */
  }

  #content{
    padding: 3em;
  }

  .text-area {
    margin-top: 1em;
    background-color: white;
    border-radius: 10px;
    height: 50vh;
    overflow-y: auto;
    padding-left: 1em;
    padding-top: 10px;
  }

  .date{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h1{
    color: black;
  }

  h5{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #date {
    text-align: left;
  }
</style>
<main>
  <nav class="navbar-default sticky-md-top sticky-lg-top navbar-fixed-top" #navbar>
    <h4>{{title}}</h4>
    <button class="styled-button float-end d-none d-md-inline" (click)="getHTML()">Generate List</button>
    <button class="styled-button float-end d-md-none" (click)="getHTML()"><i class="bi bi-list-check"></i></button>
  </nav>
  <div class="container-fluid" id="content" #content>
    <div class="row">
      <div class="col-md-2 col-sm-4" style="margin-bottom: 10px;">
        <button class="btn btn-primary"><i class="bi bi-lock-fill"></i> Authorize</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4" style="margin-bottom: 10px;">
        <div class="input-group">
          <span class="input-group-addon">AccessKey</span>
          <input class="form-control" type="password"/>
        </div>
      </div>
      <div class="col-md-3 col-sm-4" style="margin-bottom: 10px;">
        <div class="input-group">
          <span class="input-group-addon">SecretKey</span>
          <input class="form-control" type="password"/>
        </div>
      </div>
    </div>
    <div class="row date">
      <div class="col-md-3 col-sm-6" style="margin-bottom: 10px; padding-right: 0">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input id="date" type="date" class="form-control" [value]="date" (change)="onDateChange($event)" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4">
        <button class="btn btn-primary" (click)="loadPassengers()">Load passengers</button>
      </div>
    </div>
   <div *ngIf="loadContent">
      <h4>Passenger List</h4>
      <div *ngFor="let time of getNumOfPassengersByTime()">
        <h5>{{time[0][0] === "0" ? time[0].slice(1) : time[0]}} - {{time[1]}} Passengers</h5>
        <app-bus-selection-buttons
          (removeBuses)="resetBusesForTime($event)"
          [time]="time[0]"
          [usedBuses]="usedBuses"
          (updatedUsedBuses)="updateUsedBuses($event)"
          (updateCheckList)="updateBusSelections($event)"
          [selectedOptions]="busSelections"
          [successMap]="successMap"
        >
        </app-bus-selection-buttons>
        <div *ngIf="getBusesByTime(time[0]); then isAllocated else isNotAllocated"></div>
        <ng-template #isAllocated>
          <div *ngFor="let bus of getBusesByTime(time[0])">
            <h5>Bus ({{bus.busId}}) - {{bus.getCurrentLoad()}} Passengers</h5>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let passenger of bus.getPassengers()">
                <app-passenger [excludedPassengers]="excludedPassengers" (updatePassengerExclusionList)="updatePassengerExclusionList($event)" [passengerInfo]="passenger" [busColor]="bus.color"></app-passenger>
              </div>
            </div>
          </div>
          <div *ngIf="excludedPassengersMap.has(time[0]) && (excludedPassengersMap.get(time[0])?.length || 0) > 0">
            <h5>Excluded Passengers</h5>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let passenger of excludedPassengersMap.get(time[0])">
                <app-passenger [excludedPassengers]="excludedPassengers" (updatePassengerExclusionList)="updatePassengerExclusionList($event)" [passengerInfo]="passenger" [busColor]="'#4B7FCC'"></app-passenger>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #isNotAllocated>
          <div class="row">
            <div *ngFor="let passenger of getPassengersByTime(time[0])" class="col-lg-4 col-md-6 col-sm-12">
              <app-passenger [excludedPassengers]="excludedPassengers" (updatePassengerExclusionList)="updatePassengerExclusionList($event)" [passengerInfo]="passenger" [busColor]="'#4B7FCC'"></app-passenger>
            </div>
          </div>
        </ng-template>
      </div>
      <div style="margin-top: 20px" class="">
        <h5>Generated List</h5>
        <div class="text-area" contenteditable="true" [innerHTML]="htmlContent">
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
