<style>
  .checkbox-container {
    display: flex;
    gap: 10px;
  }

  .checkbox-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .sort-button {
    background: #007bff; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .reset-button {
    background: white; /* Blue background */
    color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 10px;
  }

  .sort-button:hover {
    background: #0056b3; /* Darker blue on hover */
  }

  .error-msg {
    background-color: #fda5a5;
    display: flex;
    /*align-items: center;*/
    gap: 5px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
  }

  .error-text{
    color: #b63f3f;
    margin: 0;
    white-space: nowrap;
    font-weight: 600;
  }

  .success-msg {
    background-color: #d1ffbd;
    display: flex;
    /*align-items: center;*/
    gap: 5px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
  }

  .success-text{
    color: #0ab937;
    margin: 0;
    white-space: nowrap;
    font-weight: 600;
  }

  .bus-selection-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
<div class="bus-selection-container">
  <ng-template  #success>
    <div class="success-msg" *ngIf="successMap.get(time); else failed">
      <i class="bi bi-check-circle" style="color: #0ab937"></i>
      <p class="success-text">Passengers Allocated Successfully!</p>
    </div>
  </ng-template>
  <ng-template #failed>
    <div class="error-msg" >
      <i class="bi bi-exclamation-circle" style="color: #b63f3f"></i>
      <p class="error-text">Error! Cannot Allocate Passengers</p>
    </div>
  </ng-template>

  <div *ngIf="!successMap.has(time); else success">

  </div>


  <div class="checkbox-container">
    <label *ngFor="let bus of buses">
      <input
        type="checkbox"
        [value]="bus.busId"
        (change)="onCheckboxChange($event)"
        [checked]="isChecked(bus.busId)"
        [disabled]="isDisabled(bus.busId)"
      />
      {{ bus.busId }}
    </label>
  </div>
  <div>
    <button class="sort-button" (click)="sortPassengers()">Sort Passengers</button>
    <button class="reset-button" (click)="resetBuses()">Reset Buses</button>
  </div>
</div>




