<style>
  .collapsible-container {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #c8d0e0;
  }

  .header {
    padding: 1.1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    padding: 1.5em 3em 1.5em 3em;
  }

  .header button {
    border: none;
    background: none;
    cursor: pointer;
  }

  @keyframes expand {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 500px; /* Adjust based on expected max content height */
      opacity: 1;
    }
  }

</style>

<div class="collapsible-container">
  <div class="header" (click)="toggle()" [ngStyle]="{'border-bottom': isExpanded ? '1px solid #c8d0e0' : 'none'}">
    <h4>{{ title }} | {{ numOfPassengers }} Passengers</h4>
    <button><i class="bi bi-chevron-down" *ngIf="!isExpanded"></i><i class="bi bi-chevron-up" *ngIf="isExpanded"></i></button>
  </div>
  <div class="content" *ngIf="isExpanded">
    <ng-content></ng-content>
  </div>
</div>
