<style>
  .collapsible-container {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #c8d0e0;
  }

  .header {
    padding: 1.1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease-in-out;
  }

  .header button {
    border: none;
    background: none;
    cursor: pointer;
  }

  /*@keyframes expand {*/
  /*  from {*/
  /*    max-height: 0;*/
  /*    opacity: 0;*/
  /*  }*/
  /*  to {*/
  /*    max-height: 500px; !* Adjust based on expected max content height *!*/
  /*    opacity: 1;*/
  /*  }*/
  /*}*/

  .collapsible-container .content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }

  .collapsible-container .content.expanded {
    max-height: 1000px; /* Adjust this max height as needed */
  }

</style>

<div class="collapsible-container">
  <div class="header" (click)="toggle()" [ngStyle]="{'border-color': isExpanded ? '#c8d0e0' : 'transparent'}">
    <div>
      <h4>{{ title }} | {{ numOfPassengers }} {{numOfPassengers > 1 ? "Passengers" : "Passenger"}}</h4>
      <div>
        <div *ngIf="EmailSentLocations?.sentTo?.length" style="color: #FC5923; font-weight: bold">
          {{EmailSentLocations?.numMessagesSent}} {{EmailSentLocations?.numMessagesSent == 1 ? "Email": "Emails"}} Sent!
          <strong>{{getTimeStamp(EmailSentLocations)}} </strong>
          <strong *ngIf="getUnsentEmailsPassengerNames().length > 0" style="color: #FC5923; font-weight: bold" >- Not Sent To:
            <strong>{{getUnsentEmailsPassengerNames().join(", ")}}</strong>
          </strong>
        </div>
        <div *ngIf="SMSSentLocations?.sentTo?.length" style="color: #3eace8; font-weight: bold">
          {{SMSSentLocations?.numMessagesSent}} SMS Sent!
          <strong>{{getTimeStamp(SMSSentLocations)}} </strong>
          <strong *ngIf="getUnsentSMSPassengerNames().length > 0" style="color: #3eace8; font-weight: bold" >- Not Sent To:
            <strong>{{getUnsentSMSPassengerNames().join(", ")}}</strong>
          </strong>
        </div>
        <div *ngIf="WhatsAppSentLocations?.sentTo?.length" style="color: #0ab937; font-weight: bold">
          {{WhatsAppSentLocations?.numMessagesSent}} WhatsApp {{WhatsAppSentLocations?.numMessagesSent == 1 ? "Message": "Messages"}} Sent!
          <strong>{{getTimeStamp(WhatsAppSentLocations)}} </strong>
          <strong *ngIf="getUnsentWhatsAppPassengerNames().length > 0" style="color: #0ab937; font-weight: bold" >- Not Sent To:
            <strong>{{getUnsentWhatsAppPassengerNames().join(", ")}}</strong>
          </strong>
        </div>
      </div>
    </div>
    <button><i class="bi bi-chevron-down" *ngIf="!isExpanded"></i><i class="bi bi-chevron-up" *ngIf="isExpanded"></i></button>
  </div>


  <div class="content" [ngClass]="{expanded: isExpanded}">
    <ng-content></ng-content>
  </div>
</div>
