<style>
  .add-button{
    border: 1px solid #4B7FCC;
    background: none;
    border-radius: 5px;
    color: #4B7FCC;
    font-weight: bold;
    margin-top: 10px;
  }

  .form > div{
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .form-buttons button{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
  }

  .add-bus{
    background-color: #4B7FCC;
  }

  .delete-bus{
    background-color: crimson;
  }

  h4{
    margin-top: 20px;
    color: grey;
  }
</style>

<h4>Booking Options Management</h4>
<button class="add-button" (click)="openNewOptionForm()"><i class="bi bi-plus"></i> Add Option</button>
<form [formGroup]="optionsForm" *ngIf="isOptionFormOpen" (ngSubmit)="isEditingOption ? updateOption() : addNewOption()" class="form-group" style="margin-top: 10px">
  <div class="row form" style="margin: 0">
    <div class="input-group col-md-3 col-sm-6">
      <span class="input-group-addon">Bokun Name</span>
      <input class="form-control" formControlName="option" type="text" required/>
    </div>
    <div class="input-group col-md-3 col-sm-6">
      <span class="input-group-addon">Custom Name</span>
      <input class="form-control" formControlName="abbrev"  type="text" required/>
    </div>
  </div>
  <ng-container *ngIf="errorMsg">
    <p style="color: #FC5923; font-weight: 500">{{errorMsg}}</p>
  </ng-container>
  <div class="form-buttons" style="display: flex; gap: 10px">
    <button type="submit" class="add-bus">Save</button>
    <button *ngIf="isEditingOption" type="button" (click)="deleteOption()" class="delete-bus">Delete Bus</button>
    <button type="button" class="add-bus" (click)="cancelNewOption()">Cancel</button>
  </div>
</form>
<div class="row">
  <app-option-object
    class="col-lg-4 col-md-6 col-sm-12"
    *ngFor="let optionObject of options"
    (openEdit)="editOption($event)"
    [optionsInput]="{name: optionObject.option, nameLabel: 'Bokun Name', abbreviation: optionObject.abbrev, abbreviationLabel: 'Custom Name', docId: optionObject.docId}">
  </app-option-object>
</div>
